@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&family=Roboto&display=swap');

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body {
	background-color: #A5CFCA;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 3.75em;
	/*background: #FFFFFF;*/
	color:  #D12158;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color:  #D12158;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	color:  #D12158;
	padding: 1em;
}
p, ul, li {
	color:  #48586E;
	font-size: 1em;
}


img {
	width: 100%;

}

hr{
	border:none;
	width:10em;
	margin: .5em auto;
}

h3 + hr{
	background-color: #3C3C3C;
	height:3px;
}

a{
	color: #6541A6;
	text-decoration: none;
}

header{
	background-color: #FFFFFF;
	border: 1px;
	padding: .75em;

}
header img{
	max-width: 75px;
	align: right;
}

nav {
	/*background-color: #FFFFFF;*/
	border: 1em;
	padding: .75em;
	text-align: center;
	float: center;
}

nav a{
	display: inline-block;
	padding: .5em;
	text-align: left;
}

/*
aside {
	background-color: #FFC675;
	border: 1px;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
*/

footer {
	background-color: #FFFFFF;
	border: 1em;
	padding: 2em;
}

div / section {
	background-color: #FFE2B8;
	border: 1px black solid;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.wrapper{
	width:90%;
	margin: auto;
}

.about{
	margin: 1.5em;
	padding: 1.5em;
}

.anime{
	width: 22%;
	margin: 1.5%;
	float: left;
	text-align: center;
}

.anime img{
	max-width: 100%;
	display: block;
	margin: auto;
}

.manga{
	width: 47%;
	margin: 1.5%;
	display: block;
	float: left;
	text-align: center;
}

.manga img{
	max-width: 50%;
	display: block;
	margin: auto;
}

/*
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}
*/
#hero {
	display: block;
	text-align: right;
}

#slogan {
	font-style: italic;
	text-align: left;
	float: left;
}

#tiles {
	width: 50%;
}

#anime-wrap{
	width:90%;
	margin: auto;
}

#manga{
	background-color:#FFB6C1;
	padding: 2em 10% 2em;
	
}


@media only screen and (max-width: 800px){
	body {
		font-size: 14px;
	}
	
	span.shrine {
	dispay: none;
	float: none;
	}
	
	header {
		padding:0 2%;
	}

	footer {
	font-size: 1.4em;
	line-height: 1.8em;
	padding: 2em;
	}

	h1, h2 {
		text-align: center;	
		font-size: 2em;
		padding: 1em;
	}

	nav a {
		display: block;
		text-align: center;
		margin: 0;
	}

	#slogan {
		font-size: 3em;
		float: none;
		padding: .25em;
	}

	.about {
		font-size: 1.4em;
		line-height: 1.8em;
		margin: none;
	}

	.manga {
		font-size: 1.4em;
		line-height: 1.8em;
		width:100%;
		float: none;
		width: auto;
		margin-bottom: 5em;
	}

	.anime {
		font-size: 1.4em;
		line-height: 1.8em;
		width:100%;
		float: none;
		width: auto;
		margin-bottom: 5em;
	}
	
}

@media only screen and (max-width: 480px) {
	body { 
		 font-size:13px;
		 }
	nav a:link{
		display:block;
		padding: 15px;
		margin: 5px;
	}
	
	.wrapper {
		width:95%;
	}
}