@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&family=Roboto&display=swap');

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body {
	background-color: #A5CFCA;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 3.75em;
	/*background: #FFFFFF;*/
	color:  #D12158;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color:  #D12158;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	color:  #D12158;
	padding: 1em;
}
p, ul, li {
	color:  #48586E;
	font-size: 1em;
}


img {
	width: 100%;

}

hr{
	border:none;
	width:10em;
	margin: .5em auto;
}

h3 + hr{
	background-color: #3C3C3C;
	height:3px;
}

a 	{
	color: #6541A6;
	text-decoration: none;
	font-weight: 18;
	}

header{
	background-color: #FFFFFF;
	border: 1px;
	padding: .75em;

}
header img{
	max-width: 75px;
	align: right;
}

nav {
	/*background-color: #FFFFFF;*/
	border: 1px;
	padding: 20px;
	text-align: center;
	float: center;
}

nav a{
	display: inline-block;
	padding: .5em;
	text-align: left;
}

/*
aside {
	background-color: #FFC675;
	border: 1px;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
*/

footer {
	background-color: #FFFFFF;
	border: 1px;
	padding: 20px;
}

div / section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: .25em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.wrapper{
	width:90%;
	margin: auto;
}

.about{
	margin: 1.5em;
	padding: 1.5em;
}

.anime{
	width: 22%;
	margin: 1.5%;
	float: left;
	text-align: center;
}

.anime img{
	max-width: 350px;
	display: block;
	margin:auto;
}

.manga{
	width: 20%;
	margin: auto;
	float: center;
	text-align: center;
	/*background-color: orange;
	border: 1px black solid;*/
}

.manga img{
	max-width: 300px;
	display: block;
	margin:auto;
}

/*
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}
*/
#hero {
	display: block;
	text-align: right;
}

#slogan {
	font-style: italic;
	text-align: left;
	float: left;
}

#tiles {
	width: 50%;
}
/*
#manga{
	width: 50%
}
*/
@media only screen and (min-width: 800px){
	body {
		font-size: 14px;
	}
	#anime, #manga{
		float: none;
		width: auto;
	}
	h1, h2 {
		text-align: center;	
	}

	nav a {
		display: block;
		text-align: center;
		margin: 0;
	}
}

@media only screen and (max-width: 480px) {
	body { 
		 font-size:13px;
		 }
	#wrapper {
		width:95%;
	}
	#anime, #manga{
		display: none;
	}
}