@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Lato&family=Open+Sans&display=swap');

*{
	padding: 0;
	margin:0;
	box-sizing: boarder-box;
}

body {
	background-color: #A5CFCA;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Elsie', cursive;
	background: #FFFFFF;
	color:  #D12158;
}

p, ul, li {
	color:  #48586E;
}


img {
	width: 100%;

}

a 	{
	color: #6541A6;
	text-decoration: none;
	font-weight: 18;
	}

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

div / section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#slogan {
	font-style: italic;
	text-align: right;
}

#tiles {
	width: 50%;
}

#manga{
	width: 50%
}
