body {
	background-color: #A5CFCA;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	background: #FFFFFF;
	color:  #D12158;
}

p, ul, li {
	color:  #48586E;
}


img {
	width: 100%;

}

a 	{
	color: #6541A6;
	text-decoration: none;
	font-weight: 18;
	}

#slogan {
	font-style: italic;
	text-align: right;
}